  
#buttonedit{
    border: none;
    margin-bottom: 20px;
    background-color: rgb(68, 180, 68);
    padding: 15px;
    border-radius: 3px;
    color:white;
    margin-left: 330px;
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
  }

  #title{
    width:500px;
    margin: auto;
    text-align: center;
    color: #45567d;
  }
  form{
    background-color: rgb(28, 27, 50);
    width: 105%;
    margin: auto;
    border-radius: 5px;
  }
  .container-survey{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: auto;
    width: 500px;
    padding: 12px;
    line-height: 1.5;
  }
 body{
   background-color:grey;
 }
